html{
    background-color: midnightblue;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

#container{
    font-family: Calibri;
    color: white;
    margin: auto;
    width: 1200px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#top-bar{
    padding-left: 10%;
    font-size: 40px;
    line-height: 90px;
    width: 90%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.3);
}

#user-controls{
    width: 30%;
    float: left;
    padding: 2%;
}

#output{
    width: 60%;
    float: left;
    padding: 2%;
}

table{
    color: inherit;
}

td{
    padding: 5px;
    vertical-align: top;
}

h1{
    font-size: 35px;
}

#passiveTotal, #ascendancyTotal{
    font-size: 40px;
    color: lightskyblue;
}

.user-input-field{
    width: 80px;
}

#breakdown{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-right: 0px;
    margin-left: auto;
}