html{
    background-color: midnightblue;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

#container{
    font-family: Calibri;
    color: white;
    margin: auto;
    width: 1200px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#top-bar{
    padding-left: 10%;
    font-size: 40px;
    line-height: 90px;
    width: 90%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.3);
}

#user-controls{
    width: 45%;
    float: left;
    padding: 10px;
}

#output{
    width: 45%;
    float: left;
    padding: 10px;
}

table{
    color: inherit;
}

td{
    padding: 5px;
    vertical-align: top;
}